<% 
  @title = @page.plain_name
  @hide_navigation = true
  @style_additions = ".newWikiWord { background-color: white; font-style: italic; }"
  @inline_style = true
  @actioned = @page.revisions? ? _('Revised') : _('Created')
  @auth_link = @page.author_link({ :mode => (@link_mode || :show) })
%>

<%= @page.display_content_for_export %>

<div class="byline">

  <%= _i('#{@actioned} on #{@page.pretty_created_at} by #{@auth_link}') %> 
</div>
